/* add responsive media queries */
@media screen and (max-width: 200px) {
    .box{
      width: 40%;
    } 
  }
  @media screen and (max-width: 400px) {
    .box{
      width: 90%;
    } 
  }
  .col{
    margin: 2px;
    
  }
  p{
    text-align:left;
  }
  #img1{
    width: 17.9rem;
    height: 150px;
  }
  button {
    background-color: darkblue; 
    padding-bottom: 10%;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: bolder;
    border: 50%;
  }

  
  table,th,td{
    border:1px solid black;
  }
  td{
    text-align: center;
  }
  table.centre{
    margin-left: auto;
    margin-right: auto;
  }
  h2{
    text-align: justify;
  }
 div.para{
  text-align: justify;
  text-justify: inter-word;
  padding-left: 120px;
  padding-right: 100px;
 }
 h2.head{
  padding-left: 80px;
 }
 .banner-section{
  background-image: url('./images/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 400px;
}

h1{
  align-content: center;
  padding-top: 20%;
  font-size: larger;
  font-weight: bolder;
}
 
